@import "tailwindcss";
@source "../components/**/*.astro";
@source "../components/landing_page/**/*.astro";
@source "../pages/**/*.astro";
@source "../layouts/**/*.astro";

@theme {
    --color-noir: #000000;
    --color-bordeaux: #5c181a;
    --color-rouge: #88272a;
    --color-or: #cea563;
    --color-gris: #5b4f4b;
    --color-blanc: #ffffff;
    --color-vert: #85ae34;
    --color-beige: #e8e4e3;

    --font-sans: "Poppins", sans-serif;
    --font-kodchasan: "Kodchasan", sans-serif;
    --font-poppins: "Poppins", sans-serif;


    --my-grid: repeat(12, minmax(0, 88px));
}

.grid-custom {
    display: grid;
    column-gap: 20px;
    justify-content: center;
    position: absolute;
    top: 0;
    grid-template-columns: var(--my-grid);
}

@layer base {
    body {
        font-family: var(--font-poppins);
        background-color: var(--color-beige);
    }
}